{
    "presets": [
        ["@babel/env", {
			"modules": false,
			"corejs": "3.0.0",
            "useBuiltIns": "usage"
        }],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/transform-runtime"
    ]

}
